<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if not filename.lower().endswith(('.mp4', '.mov')) %}
        <img style="height: 100vh; width: auto;" src="{{ url_for('get_image', filename=filename) }}" class="images" />
    {% else %}
        <video style="height: 100vh; width: auto;" controls>
            <source src="{{ url_for('get_image', filename=filename) }}" type="video/mp4">
        </video>
    {% endif %}
</body>
</html>