<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/upload.css">
    <title>Document</title>
</head>
<body>
    <label for = "fileUpload" style="font-size: 40px;">Upload a file</label>
    <div id="uploadDiv">
        <input type = "file" id = "uploadingFile" name = "fileUpload" accept=".png, .jpg, .jpeg, .mp4, .HEIC, .mov, .gif" multiple/>
        <div class="button-container">
            <button id="testButton" type = "submit" value = "submit" disabled>
                Upload
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <path d="M17.504 26.025l.001-14.287 6.366 6.367L26 15.979 15.997 5.975 6 15.971 8.129 18.1l6.366-6.368v14.291z"/>
                </svg>
            </button>
        </div>
    </div>
    <progress id="progressBar" value="0" max="100"></progress>
    <div id="status"></div>
    <br>
    <a href="{{ url_for('home') }}"><button id = "elsewhere">Go to drive</button></a>
</body>
  
  <script>
    const button = document.getElementById('testButton');

    document.getElementById("uploadingFile").addEventListener("change", function () {
        button.disabled = !this.files.length; // Enable if a file is selected, disable if not
    });

    document.getElementById("uploadingFile").addEventListener("change", async function() {
      const files = this.files;
      if (!files) return;
      document.getElementById("progressBar").value = 0;
      
      const formData = new FormData();
      Array.from(files).forEach(element => {
        formData.append("files", element);
      });
      console.log(formData);

      const xhr = new XMLHttpRequest();
      xhr.open("POST", "/upload", true);

      xhr.upload.onprogress = function(event) {
          if (event.lengthComputable) {
              let percentComplete = (event.loaded / event.total) * 100;
              document.getElementById("progressBar").value = percentComplete;
              document.getElementById("status").innerText = percentComplete;
          }
      };

      xhr.onload = function() {
          if (xhr.status === 200) {
              document.getElementById("status").innerText = "Upload Complete!";
          } else {
              document.getElementById("status").innerText = "Upload Failed.";
          }
      };

      xhr.send(formData);
    });
  </script>
</html>